.header, .dropdown-menu.show {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
a.text-light.dropdown-item.dropdown-item:hover, a.text-light.dropdown-item.dropdown-item:link{
  background: transparent;
}

.navbar-toggler {
    border: none !important;
  }
  
  .navbar-toggler:focus {
    box-shadow: none !important;
  }